/* General */

.styled {
  margin-bottom: 1em;
}

.styled input ,
.styled select {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  cursor: pointer;
}

.styled.disabled ,
.styled.disabled.checked {
  cursor: default;
}

.styled.select select:focus,
.styled.radio input:focus,
.styled.checkbox input:focus,
.styled.file input:focus {
  outline: 0; 
}

/* Remove default webkit and possible mozilla .search styles */
.styled.checkbox input {
  -moz-appearance: none;
  -webkit-appearance: none; 
}

.styled.select, 
.styled.checkbox span:before, 
.styled.checkbox span, 
.styled.radio span:before ,
.styled.radio span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* Checkboxes and radios */

.styled.checkbox, 
.styled.radio {
  margin-bottom: 12px;
  cursor: pointer;
}

.styled.checkbox span, 
.styled.radio span {
  position: relative;
  background: #BDC3C7;
  display: inline-block;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  width: 20px;
  border-radius: 2px;
  margin-right: 12px;
  color: #fff;
}

.styled.checkbox.checked span, 
.styled.radio.checked span {
  background: #1ABC9C;
}

.styled.radio span:before ,
.styled.checkbox span:before {
  position: absolute;
  display: block;
  content:  " ";
  opacity: 0;
}

.styled.radio.disabled,
.styled.checkbox.disabled {
  cursor: default;
}

.styled.radio.disabled span,
.styled.checkbox.disabled span {
  background: #E6E8EA;
}

.styled.radio.disabled:hover span:before,
.styled.checkbox.disabled:hover span:before{
  opacity: 0;
}

.styled.radio.disabled.checked:hover span:before,
.styled.checkbox.disabled.checked:hover span:before,
.styled.radio.checked span:before,
.styled.checkbox.checked span:before,
.styled.radio:hover span:before ,
.styled.checkbox:hover span:before {
  opacity:1;
}

/* Checkboxes */

.styled.checkbox span:before {
  content:"✔";
  left: 2px;
}

/* Radios  */

.styled.radio span:before {
  background: #fff;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.styled.radio span {
  border-radius: 10px;
}

/* Select */

.styled.select {
  line-height: 30px;
  height: 30px;
  padding: 0 0 0 10px;
  position: relative;
  background: #BDC3C7;
  border-radius: 4px;
}

.styled.select option {
  color: #444;
}

.styled.select.active,
.styled.select:hover {
  background: #d9dcde;
}

.styled.select.active{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.styled.select span {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  padding-right: 25px;
  cursor: pointer;
  width: 100%;
  display: block; 
}

.styled.select:after{
  position: absolute;
  right: 10px;
  top: 10px;
  content: ' ';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
}

.styled.select select {
  border: none;
  background: none;
  position: absolute;
  cursor: pointer;
  height: 28px;
  top: 2px;
  left: 0px;
  width: 100%; 
  margin-bottom: 0;
}

.styled.select ul {
  background: #d9dcde;
  z-index:1;
  overflow: auto;
  display: block;
  margin: 0;
}

.styled.select ul a {
  display: block;
  text-indent: 10px;
}

.styled.select ul a:hover ,
.styled.select ul a.selected {
  color: #fff;
  background: #BDC3C7;
}

/* File */

.styled.file {
  height: 28px;
  width: 190px;
  background: #BDC3C7;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
}

.styled.file span.action {
  height: 28px;
  line-height: 28px;
  width: 82px;
  text-align: center;
  float: left;
  display: inline;
  overflow: hidden;
}

.styled.file span.filename {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  height: 24px;
  margin: 2px 0 2px 2px;
  line-height: 24px;
  width: 85px;
  padding: 0 10px; 
}

.styled.file input {
  border: none;
  background: none;
  position: absolute;
  cursor: pointer; 
  top: 0;
  right: 0;
  float: right;
  width: 100%;
  height: 100%; 
}

.styled.file span.action {
  color: #fff;
  background: #1ABC9C;
  font-size: 11px;
  font-weight: bold; 
}

.styled.file span.filename {
  color: #777;
  border-right: 1px solid #bbb;
  font-size: 11px; 
}

.styled.file.disabled span.action {
  color: #aaa; 
  background: #e6e9ea;
}

.styled.file.disabled span.filename {
  border-color: #ddd;
  color: #aaa; 
}

.styled.file.disabled input {
  cursor: default;
}

