/* Just demo styles, not part of the framework */
.container .zero,
.container .one,
.container .two,
.container .three,
.container .four,
.container .five,
.container .six,
.container .seven,
.container .eight,
.container .nine,
.container .ten,
.container .eleven,
.container .twelve , 
.container .thirteen , 
.container .fourteen , 
.container .fifteen , 
.container .sixteen { 
  background: none repeat scroll 0 0 #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  color: #555555;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
